html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 125px; /* 底部固定元素的高度，此处假设为60px */
}
.container{
    position: relative;
}
img {
    border: 0;
}
ul,li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 0;
}
a {
    text-decoration: none;
    color: #200b0b;
}
.navbar {
    transition: top 0.5s ease;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.navbar{
    background-color: #91c5A9;
}
.navbar-collapse .hover:hover{
    background-color: #91c5A9;
    border-radius: 3px;
}
.navbar-collapse{
    padding: 0;
    margin: 0;
}
.bg-success{
    background-color: #19692c!important;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.carousel-item img{
    height: 450px;
}
.main tr{
    padding: 0;
    height: 50px;
    border-radius: 5px;
    border-bottom: 1px solid #cccccc;
    transition: transform 0.3s;
}
.main td{
    padding: 0;
    /*text-align: center;*/
    border-radius: 5px;
}
.main tr a{
    display: block;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
}
.main tr:hover{
    transform: scale(1.1);
    background-color: #00785a;
    border-radius: 5px;
    color: white;
}
.main tr:hover a{
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.card-grouper img{
    width: 98%;
    height: 200px;
}
.card-grouper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.card-grouper .card{
    padding: 2px;
    margin: 10px;
    transition: transform 0.5s;
}
.card-grouper .card:hover{
    transform: scale(1.1);
}
a:hover{
    text-decoration: none;
}
.admin:hover{
    color: white;
}
.news2 li a:hover{
    background: #00785a;
    color:white;
}
.news2 li:hover{
    background: #00785a;
    color: white;
}
